# exclude everything except directory "Settings" and "Packages/User"
/*
!/Settings # include this folder
!/Packages # include this folder
/Packages/* # exclude this folder
!/Packages/User # except this folder
# gitignore fucked my brain!
# see https://www.kernel.org/pub/software/scm/git/docs/gitignore.html for detail
