# exclude everything except directory "Settings" and "Packages/User"
# exclude all
/**
# include "Settings"
!Settings/
# exclude all files in "Settings" but this one
Settings/**
!Settings/License.sublime_license

# include "Packages"
!Packages/
# exclude all folders and files in "Packages" but this folder
Packages/**
!Packages/User/

# gitignore fucked my brain!
# see https://www.kernel.org/pub/software/scm/git/docs/gitignore.html for detail
